/* Hide the radio button */
.form-check-input {
    display: none;
  }
  
.form-check-label{
    cursor: pointer;
}
  /* Change the label color when clicked */
  .form-check-input:checked + .form-check-label {
    color: rgb(237, 202, 4);
  }


  .table-wrapper {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
tr{
    text-align: center;
}

  th, td {
    padding: 0.5rem;
    border: 1px solid rgb(230, 227, 227); /* add borders to cells */
}
  
  @media only screen and (max-width: 767px) {

    table, tbody {
      display: block;
    }

    th{
      display: none;
      
    }
    
     td {
      width: 100%;
      display: block;
    }

    tbody tr {
      margin-bottom: 1rem;
    }
    
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }